.event-title{
    color: #000;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 128px;
}
.event-list-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    margin: 64px 64px 0 64px;
}
.event-container{
    display: flex;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 4px lightgray;
    border-radius: 4px;
    width: 400px;
    height: 180px;
    padding: 24px;
    gap: 32px;
}