.submenu-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    background-color: var(--primary-color); 
    padding: 10px 0; 
  }
  
  .submenu-item {
    text-decoration: none; 
    color: black; 
    transition: color 0.3s ease; 
  }
  
  .submenu-item:hover {
    color: #0056b3; 
  }