.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--secondary-color);
    
    border-bottom: 1px solid #e0e0e0;
    height: 40px;
  }
  
  .logo img {
    height: 50px; /* Adjust this size according to your logo */
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  