.App {
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
}

.header {
  background-color: var(--background-color);
  color: var(--background-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
